@charset "UTF-8";

/* Cores globais*/
:root {
  --cor_primaria: rgb(22, 102, 182);
  --cor_secundaria: rgb(27, 59, 202);
  --cor_fundo: #F2F4F3;
  --cor_texto: #333333;
}

/* Faz com que padding e bordas sejam incluídos dentro do tamanho do elemento, facilita muito o layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding e a border passam a ser incluidos dentro da largura e da altura  */
}

html {
  font-size: 16px;
  scroll-behavior: smooth; /* rolagem suave */
}

/* Define uma fonte padrão e cores que vão ser usadas em todo o site */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--cor_fundo);
  color: var(--cor_texto);
  line-height: 1.5;
}

/* Evita que imagens “estourem” o layout: */
img, video {
  max-width: 100%;
  height: auto;
  display: block; /* Faz com que ocupe a largura máxima da sua "Caixa pai" */
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  scroll-margin-top: 200px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

p, body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

:root {  /* Usado para definir variáveis globais que podem ser usadas a qualquer momento */
  --altura-cabecalho: 80px
}

#topo {
  scroll-margin-top: 80px; /* Significa que, ao clicar em um link que leva a um elemento, o navegador vai parar 80 pixels abaixo do topo da página */
}

#cabecalho {
  position: fixed;  /* fixa o cabeçalho */
  top: 0;           /* no topo da página */
  left: 0;  
  width: 100%;
  height: var(--altura-cabecalho);
  display: flex;  /* transforma um elemento em um container flexivel permitindo que seus elementos filhos, os itens, sejam organizados de formas dinâmicas */
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor_fundo);
  z-index: 1000;  /* Serve para organizar os itens para traz e para frente, quanto maior mas a frente */
}

#cabecalho h1 {
  font-size: 2.2em;
  color: var(--cor_secundaria);
}

#cabecalho.shrink {
  height: 60px;
  background-color: var(--cor_fundo);
  transition: all 0.3s ease; /* Usadad para criar animações suaves quando algum valor do CSS muda. Usa propriedades "Do que muda" "Do tempo que leva" "E a velocidade do movimento" */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#cabecalho.shrink .logo_e_texto img {
  height: 30px;
  transition: height 0.3s ease;
}

#cabecalho.shrink h1 {
  font-size: 1.2em;
  transition: font-size 0.3s ease;
}

.navegacao_pagina {
  display: flex;
  justify-content: center; /* centraliza os links */
  gap: 20px; /* espaçamento entre eles */
  padding: 10px;   
}

.navegacao_pagina > a {
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--cor_secundaria);
  font-family: 'Arial', sans-serif;
  color: white;
}
 
.logo_e_texto {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor_primaria);
}

.logo_e_texto img {
  display: flex;
  width: auto;
  height: 40px;
  padding-left: 20px;
}

.link_escrita {
  background-color: var(--cor_primaria);
  color: black;
  font-weight: 600;  /* Grossura da escrita */
  font-size: 17;
  border: none; /* Remove a borda */
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer; /* Muda o cursor */
  transition: 0.3s; /* Tempo para os efeitos ao passar por cima do botão */
  text-decoration: none; /* Remove decorações */
}

.link_escrita .escrita {
  display: block;
  height: 5px;
}

.link_escrita:hover {
  background-color: var(--cor_fundo);
  color: var(--cor_secundaria);
  border: 0.1px solid;
  border-color: var(--cor_secundaria);
}


#conteudo_principal {
  position: relative; /* permite posicionar elementos sobre ela, no nosso caso, textos sobre a imagem */
  width: 100%;
  overflow: hidden; /* Valor "hidden" faz com que todo o conteúdo que ultrapasse a largura ou a altura seja cortado */
  padding-top: var(--altura-cabecalho);
}

#conteudo_principal img {
  width: 100%;
  height: auto;
  display: block;
  position: relative; /* Usado para mover o elemento*/
  z-index: 0; /* "z-index" controla a sobreposição dos elementos, no nosso caso para a imagem ficar no fundo */
}

#itens_conteudo_principal {
  position: absolute;
  top: 50%;  /* Position, top, left, tranform são usados nesses valores para posicionar algo no centro de um container */
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

#itens_conteudo_principal h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3em;
  margin-bottom: 14px;
}

#itens_conteudo_principal h2 {
  font-size: 1.8;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#itens_conteudo_principal a {
  background-color: var(--cor_fundo);
  color: rgb(0, 0, 0);
  border: none; /* remove a borda */
  padding: 16px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  text-decoration: none;
}

.titulo_com_linha {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: black;
  margin-top: 80px;
  margin-bottom: 30px;
  background-color: var(--cor_fundo);
}

.titulo_com_linha::before {
  content: ""; /* Cria um elemento vizual vazio para estilizar */
  position: absolute;
  top: -15px; /* Ele muda o lugar original do layout, apenas desloca visualmente. O espaço original dele continua ocupando a mesma área */
  left: 50%;
  transform: translateX(-50%); /* Serve pora mover rotacionar e etc.. elementos sem layout ao redor */
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--cor_secundaria);
  display: block;
}

#blocos_de_links {
 display: flex;  /* Faz os links ficarem lado a lado */
 justify-content: space-evenly;  /* forma em que eles são divididos  */
 flex-wrap: wrap; /* Permite quebra em telas menores */
 padding: 20px;
 gap: 20px;
}

#blocos_de_links .link_imagem {
  position: relative;
  flex-wrap: wrap;
  max-width: 350px;
  flex: 1 1 150px;
  overflow: hidden;
  border-radius: 10px;
}

#blocos_de_links .link_imagem img {
  width: 100%;  /* Imagem ocupa 100% do link */
  height: 100%;
  object-fit: cover; /* Na propriedade "cover" faz com que a imagem preencha todo o container, sem deformar, se necessário corta as partes que sobram */
  border-radius: 10px;
  display: block;
  transition: transform 0.3s ease;
}

#blocos_de_links .link_imagem:hover img {
  transform: scale(1.05); /* Aumenta o tamanho do elemento em 5%.  1.05 = 105% do tamanho original */
}

#blocos_de_links .link_imagem span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
  border-bottom-left-radius: 10px; /* Ele aredonda somente o canto inferior esquerdo de um elemento */
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

#bloco_do_texto {
  display: flex; /*Coloca lado a lado*/
  align-items: center;
  gap: 20px;
  padding: 280px 250px 200px 20px;
}

#bloco_do_texto .texto {
  flex: 2;  /* Maior que a imagem */
  padding: 0px 350px 0px 200px ;
}

#ancora {
  scroll-margin-top: 120px;
}

.texto h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: black;
  margin-bottom: 15px;
}

.texto p {
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 12px;
}

.texto span {
  color: var(--cor_secundaria);
  font-weight: bold;
  margin-bottom: 12px;
}

#bloco_do_texto .imagem_do_texto {
  flex: 1;
  max-width: 375px;
}

#bloco_do_texto .imagem_do_texto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

.borda_do_calculo {
  max-width: 1300px;
  margin: auto;
  background-color: #8ba6c7;
  padding: 40px 40px 1px 40px;
  border: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
  margin-bottom: 200px;
  border-radius: 12px;
}

.borda_do_calculo h2 {
  color: black;
}

#calculos {
  color: black;
}

/* --- LAYOUT EM DUAS COLUNAS --- */
.layout {
  display: flex;
  gap: 50px;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

/* ESQUERDA: formulário */
.form-area {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* DIREITA: tabela */
.table-area {
  flex: 1.3;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  color: black;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #acacac;
}

button {
  background-color: #0066cc;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

button:hover {
  background-color: #003e7c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

td {
  color: black;
}

th {
  background-color: #0066cc;
  color: white;
}

.total {
  margin-top: 15px;
  font-weight: bold;
  text-align: right;
}

.dicas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1ª linha com 3 */
    gap: 30px;
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    margin-bottom: 120px;
}

.card {
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.circle {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    border: 3px solid white;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#foto_parallax {
  height: 635px;
  background-image: url("../img/imagem-tela-final-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -1;
  position: relative;
}

#contato {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor_fundo);
  padding: 25px 20px 120px 20px;
  border-radius: 10px;
}

.formulario input {
  height: 5vh;
  width: 86vw;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.formulario button {
  background-color: #46a14b;
  height: 5vh;
  width: 86vw;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#rodape {
  background-color: var(--cor_secundaria);
  width: 100%;
  height: 150px;
  padding: 20px;
  text-align: center;
  scroll-margin-top: 12px;
}

#rodape .icones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
}

#rodape .logo img {
  width: 32px;
  height: 32px;
  object-fit: cover; /* mantém proporção sem cortar */
  border-radius: 50%;
  transition: transform 0.3s ease;
}

#rodape .logo img:hover {
  transform: scale(1.1);
}

#rodape p a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3 ease;
}

#rodape p a:link,
#rodape p a:visited {
  color: white;
  text-decoration: none;
}

#rodape p a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

#rodape p {
  font-size: 16px;
  color: #F2F4F3;
  margin: 5px 0;
}

/* EFEITO SCROLL REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

