@charset "UTF-8";

/* Cores globais*/
:root {
  --cor_primaria: #2E7D32;
  --cor_secundaria: #FFB300;
  --cor_fundo: #F2F4F3;
  --cor_texto: #333333;
  --cor_alerta: #F57C00;
  --cor_detalhes: #A5D6A7;
}

/* Faz com que padding e bordas sejam incluídos dentro do tamanho do elemento, facilita muito o layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding e a border passam a ser incluidos dentro da largura e da altura  */
}

html {
  font-size: 16px;
  scroll-behavior: smooth; /* rolagem suave */
}

/* Define uma fonte padrão e cores que vão ser usadas em todo o site */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--cor_fundo);
  color: var(--cor_texto);
  line-height: 1.5;
}

/* Evita que imagens “estourem” o layout: */
img, video {
  max-width: 100%;
  height: auto;
  display: block; /* Faz com que ocupe a largura máxima da sua "Caixa pai" */
}

:root {  /* Usado para definir variáveis globais que podem ser usadas a qualquer momento */
  --altura-cabecalho: 80px
}

#topo {
  scroll-margin-top: 80px; /* Significa que, ao clicar em um link que leva a um elemento, o navegador vai parar 80 pixels abaixo do topo da página */
}

#cabecalho {
  position: fixed;  /* fixa o cabeçalho */
  top: 0;           /* no topo da página */
  left: 0;  
  width: 100%;
  height: var(--altura-cabecalho);
  display: flex;  /* transforma um elemento em um container flexivel permitindo que seus elementos filhos, os itens, sejam organizados de formas dinâmicas */
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor_fundo);
  color: white;
  z-index: 1000;  /* Serve para organizar os itens para traz e para frente, quanto maior mas a frente */
}

#cabecalho.shrink {
  height: 60px;
  background-color: #e0e0e0;
  transition: all 0.3s ease; /* Usadad para criar animações suaves quando algum valor do CSS muda. Usa propriedades "Do que muda" "Do tempo que leva" "E a velocidade do movimento" */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#cabecalho.shrink .logo_e_texto img {
  height: 30px;
  transition: height 0.3s ease;
}

#cabecalho.shrink h1 {
  font-size: 1.2em;
  transition: font-size 0.3s ease;
}

.navegacao_pagina {
  display: flex;
  justify-content: center; /* centraliza os links */
  gap: 20px; /* espaçamento entre eles */
  padding: 10px;   
}

.navegacao_pagina > a {
  margin-left: 20px;
  margin-right: 20px;
}
 
.logo_e_texto {
  display: flex;
  align-items: center;
  gap: 10px;
  color: blue;
}

.logo_e_texto img {
  display: flex;
  width: auto;
  height: 40px;
  padding-left: 20px;
}

.link_escrita {
  background-color: rgb(89, 89, 233);
  color: black;
  font-weight: 600;  /* Grossura da escrita */
  font-size: 17;
  border: none; /* Remove a borda */
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer; /* Muda o cursor */
  transition: 0.3s; /* Tempo para os efeitos ao passar por cima do botão */
  text-decoration: none; /* Remove decorações */
}

.link_escrita .escrita {
  display: block;
  height: 5px;
  background-color: black;
}

.link_escrita:hover {
  background-color: yellow;
  color: black;
}


#conteudo_principal {
  position: relative; /* permite posicionar elementos sobre ela, no nosso caso, textos sobre a imagem */
  width: 100%;
  overflow: hidden; /* Valor "hidden" faz com que todo o conteúdo que ultrapasse a largura ou a altura seja cortado */
  padding-top: var(--altura-cabecalho);
}

#conteudo_principal img {
  width: 100%;
  height: auto;
  display: block;
  position: relative; /* Usado para mover o elemento*/
  z-index: 0; /* "z-index" controla a sobreposição dos elementos, no nosso caso para a imagem ficar no fundo */
}

#itens_conteudo_principal {
  position: absolute;
  top: 50%;  /* Position, top, left, tranform são usados nesses valores para posicionar algo no centro de um container */
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

#itens_conteudo_principal h1,
#itens_conteudo_principal h2 {
  font-size: 2em;    /* 2em = duas vezes o tamanho da fonte do pai. */
  margin-bottom: 10px;
}

#itens_conteudo_principal button {
  background-color: white;
  color: rgb(0, 0, 0);
  border: none; /* remove a borda */
  padding: 16px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

.titulo_com_linha {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: black;
  margin-top: 120px;
  margin-bottom: 68px;
  background-color: var(--cor_fundo);
}

.titulo_com_linha::before {
  content: ""; /* Cria um elemento vizual vazio para estilizar */
  position: absolute;
  top: -15px; /* Ele muda o lugar original do layout, apenas desloca visualmente. O espaço original dele continua ocupando a mesma área */
  left: 50%;
  transform: translateX(-50%); /* Serve pora mover rotacionar e etc.. elementos sem layout ao redor */
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background-color: blue;
  display: block;
}

#blocos_de_links {
 display: flex;  /* Faz os links ficarem lado a lado */
 justify-content: space-evenly;  /* forma em que eles são divididos  */
 flex-wrap: wrap; /* Permite quebra em telas menores */
 padding: 20px;
 gap: 20px;
}

#blocos_de_links .link_imagem {
  position: relative;
  flex-wrap: wrap;
  max-width: 350px;
  flex: 1 1 150px;
  overflow: hidden;
  border-radius: 10px;
}

#blocos_de_links .link_imagem img {
  width: 100%;  /* Imagem ocupa 100% do link */
  height: 100%;
  object-fit: cover; /* Na propriedade "cover" faz com que a imagem preencha todo o container, sem deformar, se necessário corta as partes que sobram */
  border-radius: 10px;
  display: block;
  transition: transform 0.3s ease;
}

#blocos_de_links .link_imagem:hover img {
  transform: scale(1.05); /* Aumenta o tamanho do elemento em 5%.  1.05 = 105% do tamanho original */
}

#blocos_de_links .link_imagem span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.1em;
  border-bottom-left-radius: 10px; /* Ele aredonda somente o canto inferior esquerdo de um elemento */
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.bloco_do_texto {
  display: flex; /*Coloca lado a lado*/
  align-items: center;
  gap: 20px;
  padding: 280px 250px 280px 20px;
}
.bloco_do_texto .texto {
  flex: 2;  /* Maior que a imagem */
  padding: 0px 350px 0px 200px ;
}

.texto h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: black;
  margin-bottom: 15px;
}

.texto p {
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 12px;
}

.texto span {
  color: blue;
  font-weight: bold;
}

.bloco_do_texto .imagem_do_texto {
  flex: 1;
  max-width: 375px;
}

.bloco_do_texto .imagem_do_texto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

#calculos {
    min-height: 80vh; /* O main ocupa 80% da altura da tela */
    display: flex; /* Centraliza o bloco */
    justify-content: center; /* no eixo X */
    align-items: center; /* no eixo Y */
    padding: 20px;
    background-color: #524646; /* Só pra destacar a área */
}

.container_calculos { 
    height: 90%;
    width: 90%; /* Preenche quase todo o main */
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* Sombra elegante */
}

#foto_parallax {
  height: 635px;
  background-image: url("../img/imagem-tela-final.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  z-index: -1;
  position: relative;
}

#contato {
  height: 450px;
  width: 100%;
  background-color: var(--cor_fundo);
}

#rodape {
  background-color: rgb(89, 89, 233);
  width: 100%;
  height: 150px;
  padding: 20px;
  text-align: center;
  scroll-margin-top: 12px;
}

#rodape .icones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
}

#rodape .logo img {
  width: 32px;
  height: 32px;
  object-fit: cover; /* mantém proporção sem cortar */
  border-radius: 50%;
  transition: transform 0.3s ease;
}

#rodape .logo img:hover {
  transform: scale(1.1);
}

#rodape p a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3 ease;
}

#rodape p a:link,
#rodape p a:visited {
  color: white;
  text-decoration: none;
}

#rodape p a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

#rodape p {
  font-size: 16px;
  color: #F2F4F3;
  margin: 5px 0;
}