@charset "UTF-8";

/* Cores globais*/
:root {
  --cor_primaria: #2E7D32;
  --cor_secundaria: #FFB300;
  --cor_fundo: #F2F4F3;
  --cor_texto: #333333;
  --cor_alerta: #F57C00;
  --cor_detalhes: #A5D6A7;
}

/* Faz com que padding e bordas sejam incluídos dentro do tamanho do elemento, facilita muito o layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth; /* rolagem suave */
}

/* Define uma fonte padrão e cores que vão ser usadas em todo o site */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--cor_fundo);
  color: var(--cor_texto);
  line-height: 1.5;
}

/* Evita que imagens “estourem” o layout: */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

#cabecalho {
    height: 100px;
    width: 100px;
    background-color: black;
}